@media screen and (max-width: 1108px) {
	.wrapper {
		width: 90%;
	}

	#social {
		position: absolute;
		margin: 0 auto;
		width: auto;
		top: 82px;
		right: 4px;
	}
}

@media screen and (max-width: 900px) {
	body {
		font-size: 85%;
	}

	#logo h1 {
		height: 35px;
		width: 35px;
	}

	#logo h2 {
		font-size: 2.2em
	}
	#social {
		top: 72px;
	}
	col-3 p {
		column-count: 2;
	}selector to have a column count of 2. Hint: look at the style.css stylesheet and make sure you grab all three column-count attributes!*/*/
}
